body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #181818;
    color: snow;
}
a {
    color: #7DA1FB;
    text-decoration: none;
}
a.tabs {
    color: snow;
    text-decoration: none;
}
a.tabs:hover {
    color: #7DA1FB;
    text-decoration: none;
}
.nav {
    /*nav max text width is 224.8001px (all), or min text width is 96.3334px (just videos)*/
    /*top right bottom left*/
    margin: 0% 10% 50px min(66.7%, calc(90% - (225px + 10px)));
    padding: 5px 5px 0px 0px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: snow;
    text-align: right;
    line-height: 1.1;
}
p, .map, .more_maps {
    text-align: center;
    /*margin-bottom: 40px;*/
    /*top right bottom left*/
    margin: 0px 10% 40px 10%;
}
ul {
    /*top right bottom left*/
    margin: 0px 20% 0px 20%;
    list-style-type: none;
    list-style-position: inside;
}
li {
    /*top right bottom left*/
    padding: 0px 0px 5px 0px;
}
.map_picker {
    text-align: center;
}
.more_maps {
    display:none;
}
.map-frame {
    /*resize map heights on mobile*/
    height: min(600px, 80vh);
    width: 100%;
}
h3 {
    text-align: center;
}
.twentytwenty-container, .animation {
    max-width: 935px;
    margin-left: max(20%, calc((100% - 935px)/2));
    margin-right: max(20%, calc((100% - 935px)/2));
    margin-bottom: 40px;
}
.twentytwenty-left-arrow, .twentytwenty-right-arrow {
    /*remove arrows inside handle*/
    border: 0px; /*vertical height of arrows (default: 6px inset transparent*/
}
.twentytwenty-handle {
    height: 50px; /*handle height (default: 38px)*/
    width: 0px; /*handle width (default: 38px)*/
    margin-left: -5px; /*horizontal position of handle (default: -22px)*/
    margin-top: -30px; /*vertical position of handle (default: -22px)*/
    border: 5px solid white; /*handle border (default: 3px solid white)*/
    -webkit-border-radius: 0px; /*corner radius of handle (default: 1000px)*/
    -moz-border-radius: 0px; /*corner radius of handle (default: 1000px)*/
    border-radius: 0px; /*corner radius of handle (default: 1000px)*/
    cursor: col-resize; /*change cursor style when hovering on handle (default: pointer)*/
}
.twentytwenty-horizontal .twentytwenty-handle:before {
    /*top half of vertical line between L/R images*/
    margin-bottom: 32px; /*(default: 22px)*/
}
.twentytwenty-horizontal .twentytwenty-handle:after {
    /*bottom half of vertical line between L/R images*/
    margin-top: 32px; /*(default: 22px)*/
}
.footer {
    text-align: right;
    font-size: 0.85em;
}
