body {
    background-color: DarkSlateGrey;
    font-family: "Roboto", Helvetica, sans-serif;
    color: Snow;
}
h2 {
    text-align:right;
}
.map {
    text-align:center;
}
h3 {
    text-align: center;
}
.twentytwenty-container {
    margin-left: 20%;
    margin-right: 20%;
}
